.apps-container {
  padding: 40px;
  margin-left:250px;
  background-color: #f9fafb;
}

.apps-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.apps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.app-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s ease;
  border: 1px solid #eee;
}

.app-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transform: translateY(-3px);
}

.app-logo {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.app-card h3 {
  font-size: 16px;
  margin: 5px 0;
}

.app-card p {
  font-size: 13px;
  color: gray;
}